.logo_about{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    font-size: 25px;
    letter-spacing: 2px;
    text-shadow: 0 0 15px;
    text-align: center;
}
.img_2{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
}
.box_2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    gap: 30px;
}

/* PC styles */

@media screen and (max-width: 1391px){
    body{
        
    }
    .img_2{
        width: 550px;
        height: 350px;
    }
    .box_2 p{
        text-align: center;
    }

}

/* Tablets */

@media screen and (max-width: 1070px) {
    .img_2{
        width: 600px;
        height: 350px;
    }
    .box_2 {
        flex-direction: column;
        text-align: center;
    }
}

/* Téléphone */

@media screen and (max-width: 768px) {
.img_2 {
    justify-content: center;
    width: 380px;
    height: 250px;
    }
    .box_2 {
        flex-direction: column;
        text-align: center;
    }
    .logo_about{
        font-size: 20px;
    }
}
@media screen and (max-width: 400px) {
    .img_2{
        width: 320px;
        height: 220px;
    }
}

