body {
    font-family: "Roboto", sans-serif;
    margin: 10px 100px;
    color: white;
    background-color: rgb(10, 2, 9);

}

.nb_and_icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    transform: translateY(30px);
}

.icons {
    font-size: 30px;
    display: flex;
    gap: 10px;
}

.icons a {
    color: white;
}

.icons a:hover {
    box-shadow: 0 0 10px white;
    transform: scale(1.1);
    border-radius: 5px;
}

.img_1 {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
}

.box_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 220px;
    gap: 30px;
}

.text_box_1 h1 {
    transform: translateY(-50px);
    font-size: 80px;
}

.text_box_1 h2 {
    transform: translateY(-50px);
    font-size: 35px;
    background: linear-gradient(90deg, #0725aa, #d8b1ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text_box_1 p {
    transform: translateY(-20px);

}

hr {
    margin-top: 200px;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.055);
    
}


/* PC styles */

@media screen and (max-width: 1391px){
    body{
        margin: 10px 50px;
    }
    .img_1{
        width: 550px;
        height: 350px;
    }
    .text_box_1 h1{
        font-size: 60px;
    }
    .text_box_1 h2{
        font-size: 30px;
    }
}

/* Tablets */

@media screen and (max-width: 1070px) {
    .box_1 {
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .img_1{
        width: 600px;
        height: 350px;
    }
}

/* Téléphone */

@media screen and (max-width: 768px) {
  body {
    margin: 10px 50px;
}
.box_1 {
    justify-content: center;
    flex-direction: column;
}
.img_1 {
    width: 380px;
    height: 250px;
}
.text_box_1 h1 {
    transform: translateY(-70px);
    font-size: 50px;
}
.text_box_1 h2 {
    font-size: 25px;
}
.text_box_1 {
    text-align: center;
    margin-top: -80px;
}
hr {
    margin-top: 100px;
}

}

@media screen and (max-width: 400px) {
    .img_1{
        width: 320px;
        height: 220px;
    }
}


